/* Base */
@import url('https://fonts.googleapis.com/css2?family=Play&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Play:wght@700&display=swap");
:root {
  --color-brand-light: #2b7fff;
  --color-brand-dark: #011c44;
  --color-primary-dark: #000;
  --color-primary-light: #fff;
  --color-secondary-dark: #4a4a4a;
  --color-secondary-light: #747272;
  --color-secondary-brand-dark: #011f4a;
  --color-secondary-brand-light: #ffd02b;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Roboto;
  color: var(--color-brand-dark);
}
ul {
  list-style: none;
}
.section {
  padding: 48px;
}

/* links */
.link {
  text-decoration: none;
  color: var(--color-brand-dark);
}
.link:hover {
  color: var(--color-brand-light);
}

.brand-text {
  font-family: Play;
  color: var(--color-brand-light);
  text-transform: capitalize;
}
.brand-text-link {
  text-decoration: none;
}
.terms-link {
  color: var(--color-secondary-light);
  text-underline-offset: 2px;
}

/* button */
.button {
  display: block;
  margin: 0 auto;
  border-radius: 32px;
  padding: 16px 32px;
  outline: none;
  border: none;
  color: var(--color-primary-light);
  background-color: var(--color-brand-light);
}
/* container */
.container {
  margin: 0 auto;
}
/* title */
.title {
  font-family: Play;
  font-size: 64px;
  margin: 0 auto;
  color: var(--color-brand-dark);
}
/* text */
.text {
  font-size: 22px;
  color: var(--color-brand-dark);
}
.small-text {
  font-size: 12px;
  width: 238px;
  height: 36px;
  margin-top: 14px;
  text-align: center;
}
.blue-text {
  color: var(--color-brand-light);
}
.bold {
  font-weight: 600;
  text-transform: capitalize;
}

/* header */
.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
}
.header__nav {
  display: flex;
  justify-content: space-evenly;
  gap: 240px;
  padding: 32px 0;
  backdrop-filter: blur(10px);
}
.header__list {
  display: flex;
  justify-content: space-between;
  gap: 56px;
  padding: 10.5px 0;
}
/* hero-section */
.hero-section {
  padding-top: 17px;
  background-image: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1)  30%,  rgba(255, 255, 255, 0.6) 41% , rgba(255, 255, 255, 0) 52%),
    url(/beatyZone-website/images/doctor-with-patient.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
}
.hero-section__container {
    position: relative;
    left: 200px;
  width: 100%;
  max-width: 529px;
  
  padding: 100px 0;
}
.hero-section__uppertitle {
  font-size: 18px;
}
.hero-section__title {
  font-size: 140px;
  line-height: 114px;
  padding-top: 16px;
}
.hero-section__container-button {
  width: 238px;
  margin-top: 40px;
}
.hero-section__button {
  width: 219px;
  height: 53px;
}

/* Proposition-section */
.container__proposition-section {
    display: flex;
    justify-content: space-evenly;
flex-wrap: wrap;
    gap: 32px;
}
.container__proposition-section-metamorphose {
  width: 709px;
}
.proposition-section__title {
  width: 529px;
  margin: 0 auto;
}
.container__proposition-section-metamorphose .text {
  margin-top: 40px;
  text-align: left;
}
.proposition-section__image {
    display: inline-block;
    border-radius: 50%;
flex-shrink: 0;
width:335px;
height: 328px;


}
.container__proposition-section-image {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 40px;
    width: 500px;
}
.before-proposition-image {
    align-self: flex-start;
}
.after-proposition-image {
    align-self: flex-end;
}

/* advantages-section */

.advantages-section__title {
  width: 432px;
  text-align: center;
}
/* advantage-section */
.advantages-section__list {
  display: flex;
  justify-content: space-evenly;
  margin-top: 48px;
}
.advantages-section__item {
  width: 316px;
  text-align: center;
  font-size: 18px;
  color: var(--color-primary-dark);
  border-radius: 32px;
  background-color: var(--color-primary-light);
  padding: 24px 32px;
}
.advantage-section__text {
    font-size: 18px;
    padding: 8px;
}
/* procedure-section */

.procedure-section__title {
  width: 510px;
}


/* contact */

.contact-section__title {
  width: 432px;
}

.contact-section__container {
  display: flex;
  justify-content: space-evenly;
  gap: 32px;
  margin-top: 48px;
}
.contact-section__form {
  border-radius: 32px;
  width: 100%;
  max-width: 422px;
  padding: 16px 8px;
  background: var(--color-brand-dark);
}
.contact-section__form-input {
  width: 310px;
  margin: 0 auto 16px;
}
.contact-section__map {
  border-radius: 32px;
}

.contact-section__form-button {
  width: 281px;
  margin: 0 auto;
  height: 53px;
  font-size: 18px;
}
/* form */
.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.form__title {
  width: 274px;
  font-size: 22px;
  margin: 0 auto 32px;
  text-align: center;
  color: var(--color-primary-light);
}
.form-terms {
  margin-top: 8px;
  font-size: 12px;
  width: 100%;
  margin: 0 auto;
  padding: 8px 0;
  max-width: 213px;
  text-align: center;
  color: var(--color-secondary-light);
}
.input__control {
  width: 310px;
  border-radius: 16px;
  padding: 16px 8px;
  outline: none;
  border: 2px solid var(--color-secondary-light);
  border-radius: 32px;
  color: var(--color-primary-light);
  background-color: transparent;
}
.input__control:focus {
  background-color: var(--color-secondary-light);
}
.input__control::placeholder {
  padding: 18px 32.5px;
  color: var(--color-primary-light);
  font-size: 13px;
}
.input__label {
  display: none;
}
