
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto";
  color: var(--color-brand-dark);
}
ul {
  list-style: none;
}
.container {
  padding: 48px 0;
  margin: 0 auto;
}