




@import './utils/variables';
@import './base';
@import './utils/text';
@import './utils/fonts';
@import './utils/utils';


@import './components/title';
@import './components/buttons';
@import './components/links';
@import './components/procedure_card';
@import './components/form';
@import './components/star';
@import './components/modal';
@import './components/pagination';
@import './components/carousel';
@import './components/burger-menu';


@import './layouts/header';
@import './layouts/section';
@import './layouts/hero';
@import './layouts/proposition';
@import './layouts/advantage';
@import './layouts/procedure';
@import './layouts/footer';
@import './layouts/contact';

