:root {
  --color-brand-light: #2b7fff;
  --color-brand-dark: #011c44;
  --color-primary-dark: #000;
  --color-primary-light: #fff;
  --color-secondary-dark: #4a4a4a;
  --color-secondary-light: #747272;
  --color-secondary-brand-dark: #011f4a;
  --color-secondary-brand-light: #ffd02b;
  --color-thirdy-shadow: #A8C6F561;
}