.button {
  display: block;
  margin: 0 auto;
  border-radius: 32px;
  padding: 16px 32px;
  outline: none;
  border: 2px solid var(--color-brand-light);
  font-size: 1.125rem;
  color: var(--color-primary-light);
  background-color: var(--color-brand-light);
  transition: all 0.3s ease;
}

.button:hover {
  background-color: transparent;
  color: var(--color-brand-dark);
}