.carousel-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: transparent;
  border: 0.77px solid var(--color-brand-dark);
  padding: 0;
  border-radius: 50%;
  flex-shrink: 0;
  cursor: pointer;
  fill: var(--color-brand-dark);
  &.next {
    transform: rotate(180deg);
  }
  &:hover {
    background-color: var(--color-brand-light);
  fill: var(--color-primary-light);
    border: 0.77px solid var(--color-primary-light);
  }
}
