.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.form__title {
  font-family: 'Roboto';
  font-weight: 700;
  width: 274px;
  font-size: 1.375rem;
  margin: 0 auto 32px;
  text-align: center;
  color: var(--color-primary-light);
}
.form-terms {
  margin-top: 8px;
  font-size: 0.75rem;
  width: 100%;
  margin: 0 auto;
  padding: 8px 0;
  max-width: 213px;
  text-align: center;
  color: var(--color-secondary-light);
}
.input__control {
  width: 310px;
  border-radius: 16px;
  padding: 16px 8px;
  outline: none;
  border: 2px solid var(--color-secondary-light);
  border-radius: 32px;
  color: var(--color-primary-light);
  background-color: transparent;
  transition: all 0.3s ease;
}
.input__control:focus {
  background-color: var(--color-secondary-light);
}
.input__control::placeholder {
  padding: 18px 32.5px;
  color: var(--color-primary-light);
  font-size: 13px;
}
.input__label {
  display: none;
}