.link {
  font-size: 1.125rem;
  text-decoration: none;
  color: var(--color-brand-dark);
  transition: all 0.3s ease;
 
}

.link:hover {
  color: var(--color-brand-light);
  
}
.brand-text-link {
  text-decoration: none;
}
.terms-link {
  color: var(--color-secondary-light);
  text-underline-offset: 0.125rem;
}
 .contact-link {
      fill: var(--color-brand-dark);
      transition: fill 0.3s ease;

      &:hover {
        fill: var(--color-primary-light);
      }
    }