
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(1, 31, 74, 0.4);
  opacity: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.3s ease, visibility 0.3s ease;

  &.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
}
 
.modal {
  position: relative;
  background-color: var(--color-brand-dark);
  max-width: 723px;
  max-height: 681px;
  height: 100%;
  width: 100%;
  border-radius: 48px;

  &__btn-close {
    position: absolute;
    right: 50px;
    top: 50px;
    border: none;
    background: transparent;
  }
  &__header-title {
    font-family: "Play";
    color: var(--color-primary-light);
    font-size: 4rem;
    text-align: center;
  }
  &__container {
    padding: 42px;
    max-width: 435px;
    max-height: 597px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
  }
  &__form {
    gap: 24px;
    padding: 40px 0 0;
  }
  &__form-input {
    margin: 0 auto 24px;
  }
}
