.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  width: 120px;
  padding-top: 16px;
  margin: 0 auto;

  &__bullet {
    width: 12px;
    height: 12px;
    background-color: var(--color-secondary-light);
    border-radius: 50%;
    padding: 0;

    &--active {
      background-color: var(--color-brand-light);
    }
  }
}
