.procedure-card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
  width: 344px;
  height: 456px;
  border-radius: 4px 120px;
  background-image: linear-gradient(
    180deg,
    #011c4400 0%,
    #011c44b9 72.58%,
    #011c44ff 100%
  );

  &__image {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 4px 120px;
    width: 100%;
    height: 100%;
    z-index: -1;
    object-fit: cover;
  }
  &__text {
    color: var(--color-primary-light);
    padding: 0;
    padding-bottom: 32px;
    width: 152px;
    text-align: center;
    margin: 0 auto;
  }
}
