.advantages-section {
position: relative;

  &__title {
    width: 432px;
    text-align: center;
  }
  &__list {
    display: flex;
    justify-content: space-evenly;
    margin-top: 48px;
  }
  &__item {
    width: 316px;
    text-align: center;
    font-size: 18px;
    color: var(--color-primary-dark);
    border-radius: 32px;
    background-color: var(--color-primary-light);
    padding: 24px 32px;
    box-shadow: 0 4px 4px 0 var(--color-thirdy-shadow);
  }
    
  &__text {
    font-size: 1.125rem;
    padding: 8px;
  }
  &__background-wave  {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 1849px;
  max-height: 1785px;
  width: 100%;
  height: 100%;
  z-index: -1;
}
}

