.advantages-section {
  position: relative;
  &__title {
    width: 210px;
    text-align: center;
    font-size: 2rem;
  }
  &__container {
    padding-top: 70px;
  }
  &__list {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 16px;
    margin-top: 24px;
  }
  &__item {
    width: 316px;
    text-align: center;
    color: var(--color-primary-dark);
    border-radius: 24px;
    background-color: var(--color-primary-light);
    padding: 24px 32px;
    box-shadow: 0 4px 4px 0 var(--color-thirdy-shadow);
  }

  &__text {
    font-size: 1.125rem;
    padding: 8px;
  }
  &__background-wave {
    position: absolute;
    top: -800px;
    left: 0;
    width: 100%;
    height: 1780px;
    z-index: -1;
  }

  @media screen and (min-width: $bp-desktop) {
    &__container {
      padding: 0;
    }
    &__title {
      width: 432px;
      font-size: 4rem;
    }
    &__list {
      flex-direction: row;
      margin-top: 48px;
      gap: 56px;
    }
    &__item {
      border-radius: 32px;
    }
  }
}
