.contact-section {
  &__title {
    width: 432px;
  }

  &__container {
    display: flex;
    justify-content: space-evenly;
    gap: 32px;
    margin-top: 48px;
  }
  &__map {
    border-radius: 32px;
  }
  &__form-container {
    background-color: var(--color-brand-dark);
    border-radius: 32px;
    max-width: 422px;
    width: 100%;
    
  }
  &__form {
    padding: 48px 0;
    gap: 16px;
  }
  &__form-input {
    margin: 0 auto 16px;
  }
}
