.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  
  padding: 0;

  &__nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 243px;
    padding: 16px 0;
  }
  &__list {
    display: none;
  }
  &__title {
    width: 32px
  }
  &__burger {
    border: none;
    background: transparent;
    padding: 0;
    width: 24px;
    height: 24px;
    fill: var(--color-primary-light);
  }
  @media screen and (min-width: $bp-desktop) {
    & {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 107px;
      padding: 0;
      backdrop-filter: blur(10px);
    }
    &__title {
      width: 74px;
    }
    &__nav {
      gap: 240px;
      padding: 10.5px 0;
    }
    &__list {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 56px;
      padding: 0;
    }
    &__burger {
      display: none;
    }
  }
}
