.hero-section {
  padding-top: 17px;
  background-image: linear-gradient(
      90deg,
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 255, 255, 1) 30%,
      rgba(255, 255, 255, 0.6) 41%,
      rgba(255, 255, 255, 0) 52%
    ),
    url(/beautyZone-website/images/doctor-with-patient.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;

  &__container {
    position: relative;
    left: 200px;
    width: 100%;
    max-width: 529px;
    padding: 100px 0;
  }
  &__uppertitle {
    font-size: 1.125rem;
  }

  &__title {
    font-size: 8.75rem;
    line-height: 114px;
    padding-top: 16px;
  }

  &__container-button {
    width: 238px;
    margin-top: 40px;
  }
  &__button {
    width: 219px;
    height: 53px;
  }
}
