.hero-section {
  padding-top: 17px;
  background-image: linear-gradient(220deg, #FFFFFF00 0%,#FFFFFF31 19.32%, #FFFFFFD9 85.09%, #FFFFFF 100% ), url("../images/hero-section__background.jpg");
  background-size: cover;
  // mask-image: url("wave.png");
  // mask-size: cover;
  // mask-repeat: no-repeat;
  // clip-path: path("M1015.22 1337.16C843.995 1419.9 681.707 1521.67 492.376 1503.93C294.908 1485.41 120.319 1384.81 -15.7281 1240.52C-170.733 1076.12 -313.597 882.646 -306.334 656.797C-298.462 411.99 -193.856 145.024 23.1542 31.4023C227.164 -75.4123 448.972 123.052 678.526 141.149C938.036 161.607 1224.83 -18.2038 1429.76 142.29C1655.09 318.766 1777.41 657.859 1683.59 928.291C1594.61 1184.79 1259.68 1219.03 1015.22 1337.16Z");
  width: 100%;
  background-repeat: no-repeat;
  background-position: top right;

  &__container {
    position: static;
    margin: 0 auto;
    width: 100%;
    max-width: 319px;
    padding: 16px 0;
  }

  &__container-button {
    width: 186px;
    margin: 32px auto 0;
  }
  &__button {
    font-size: 1rem;
    padding: 16px 24px;
    border-radius: 24px;
    width: 186px;
  }

  @media screen and (min-width: $bp-desktop) {
    &__container {
      position: relative;
      left: 200px;
      width: 100%;
      max-width: 529px;
      padding: 70.5px 0;
      margin: 0;
    }

    &__container-button {
      width: 238px;
      margin: 0;
      margin-top: 40px;
    }
    &__button {
      width: 219px;
      height: 53px;
    }
  }
}

.title-container {
  text-align: center;
  max-width: 319px;
  width: 100%;
  padding-top: 51px;
  margin: 0 auto;

  &__uppertitle {
    font-size: 0.75rem;
    text-align: center;
  }

  &__maintitle {
    font-size: 3.375rem;
    line-height: 46px;
    padding-top: 0;
  }

  @media screen and (min-width: $bp-desktop) {
    & {
      padding-top: 20.62px;
      text-align: left;
      max-width: 529px;
      width: 100%;
    }
    &__uppertitle {
      font-size: 1.125rem;
      text-align: left;
    }
    &__maintitle {
      font-size: 8.75rem;
      line-height: 114px;
      padding-top: 16px;
    }
  }
}
