.proposition-section {
  &__container {
    position: relative;
    display: block;
    width: 100%;
    margin: 0 auto;
    width: 320px;
  }
  &__metamorphose {
    width: 320px;
  }

  &__title {
    width: 264px;
    margin: 0;
    text-align: left;
    font-size: 2rem;
  }

  &__metamorphose .text {
    margin-top: 24px;
    text-align: left;
    font-size: 1.125rem;
  }

  &__container-images {
    display: none;
  }

  @media screen and (min-width: $bp-desktop) {
    &__container {
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;
      gap: 32px;
      width: 1242px;
      width: 100%;
      margin: 0;
    }
    &__metamorphose {
      width: 709px;
    }
    &__title {
      width: 529px;
      font-size: 4rem;
    }
    &__metamorphose .text {
      margin-top: 40px;
    }
    &__container-images {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 40px;
      width: 500px;
    }
    &__image {
      display: inline-block;
      border-radius: 50%;
      flex-shrink: 0;
      width: 335px;
      height: 328px;
    }
    &__image-before {
      align-self: flex-start;
    }
    &__image-after {
      align-self: flex-end;
    }
    &__metamorphose .text {
      margin-top: 40px;
      text-align: left;
      font-size: 1.375rem;
    }
    &__container.container {
      padding-top: 48px 0;
    }
  }
}
